@using System.Security.Claims

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    @if (User.Identity!.IsAuthenticated)
    {
        var userName = User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault() ?? "User";
        <h1 class="display-4 py-4">Welcome @userName</h1>
        <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Import Excel</a>
        <a class="btn btn-primary" asp-action="Register" asp-controller="Account">Create Admin</a>
    }
</div>
